body {
  padding-bottom: 30px;
  margin-bottom: 60px;
}

h1 {
  font-family: 'Dosis', sans-serif;
}

.navbar {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}

.navbar li {
    font-weight: 300;
}

.navbar-brand {
	font-weight: 600;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}